{% extends 'base.html' %}
{% load staticfiles %}

{% block main-big-title %}
{% endblock %}


{% block main-body %}
<div class="container clearfix">
    <div class="news-detail">

        <h1>如何找靠谱的代购</h1>
        <div class="info">
            {% if request.user.is_vip %}
                <span>来源：代购达人</span>
            {% else %}
                <span>来源：海淘消费者</span>
            {% endif %}
            <span>作者：{{ username }}</span>
            <span>浏览量：{{ data.see_count }}</span>
            <span>发布时间：{{ data.created_at }}</span>
        </div>

{#        <div class="blog-favorite">#}
{#            {% if data.is_favorite %}#}
{#                <span onclick="disFavorites({{ data.id }})">取消收藏</span>#}
{#            {% else %}#}
{#                <span onclick="favorites({{ data.id }})">收藏</span>#}
{#            {% endif %}#}
{#        </div>#}
        <div class="cont">
            {{ data.article | linebreaks }}
        </div>

        <div class="panel-comments">
            <div class="coms-title">
                评论内容
            <div class="right fr">
                <span style="color: #ffc100; margin-left: 20px;">收藏({{ favorite_count }})</span>
                <span style="color: #1076c7; margin-left: 20px;">回复({{ reply_count }})</span>
            </div>
            </div>
            <div class="coms-list">
                <ul>
                    {% for item in reply %}
                    <li>
                        <img src="{{ MEDIA_URL }}{{ request.user.info.head_img }}" />
                        <div class="info">
                            <div class="name clearfix">
                                <h4>{{ item.username }}</h4>
{#                                <div class="right fr">#}
{#                                    <span>转发(20)</span>#}
{#                                    <span>收藏(13)</span>#}
{#                                    <span>回复(3)</span>#}
{#                                </div>#}
                            </div>
                            <div class="coms-cont">{{ item.content }}</div>
                            <div class="panel">
                                <span class="time">{{ item.created_at }}</span>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="coms-box">
                <label>发布评论</label>
                <textarea rows="5" placeholder="请输入评论内容" name="reply_content"></textarea>
                <input type="submit" onclick="submitReply()" value="发布">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js-body %}
<script type="text/javascript">

    function submitReply(){
        var data = {{ params | safe}};
        var params = {
            blog_id: data.blog_id,
            user_id: data.cur_user_id,
            content: document.getElementsByName('reply_content')[0].value

        };
        $.ajax({
            type:'POST',
            url: '/blogs/reply',
            data: params,
            success: function(data){
                location.reload();
            }
        })
    };

    function favorites(blogId) {
        $.ajax({
            type:'POST',
            url: '/blogs/favorite',
            data: {blog_id: blogId},
            success: function(data){
                location.reload();
            }
        })
    };

    function disFavorites(blogId) {
        $.ajax({
            type:'PUT',
            url: '/blogs/dis_favorite',
            data: {blog_id: blogId},
            success: function(data){
                location.reload();
            }
        })
    };


</script>
{% endblock %}