<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>一甫集代购达人 IF Collections Master Buyer</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<link rel="stylesheet" type="text/css" href="dist/css/main.min.css" />
</head>
<body class="bg-fff">
	<!--header-->
	<div class="header panel-header">
		<div class="container">
			<div class="top-bar clearfix">
				<div class="logo fl">
					<div class="m-btn"></div>
					<a href="index.html"><img src="images/logo-black.png" /></a>
				</div>
				<div class="panel-search">
					<form class="search clearfix">
						<input type="text" class="text fl" placeholder="开始在全世界淘你想淘" name="keywords">
						<input type="submit" class="submit fl" value="搜索" name="submit">
					</form>
				</div>
				<div class="hd-right fr">
					<!--<a href="#">入驻达人</a>
					<a href="#">寻找达人</a>-->
					<a href="#" class="user">
						<img src="images/300x300.jpg">
					</a>
				</div>
				<div class="hd-right fr">
					<a href="#">达人入驻</a>
					<a href="#">寻找达人</a>
					<a href="#" class="join hide">加入</a>
				</div>
			</div>
			
		</div>
	</div>
	<div class="nav">
		<div class="container">
			<a href="#">首页</a>
			<a href="#">海淘那些事</a>
			<a href="#">达人发布台</a>
			<a href="#">我要我要的</a>
			<a href="#" class="active">说说谁有理</a>
		</div>
	</div>
	<!--main-->
	<div class="main">
		<div class="container member-container clearfix">
			<div class="member-tab-item tab-transactionRecord">
				<table>
					<thead>
						<tr>
							<th>顺序</th>
							<th>序号</th>
							<th>主题</th>
							<th>状态</th>
							<th>详情</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>2018050221</td>
							<td>商品伪劣问题。</td>
							<td>大众审判中</td>
							<td class="red"><a href="#">查看详情</a></td>
						</tr>
						<tr>
							<td>2</td>
							<td>2018050221</td>
							<td>商品伪劣问题。</td>
							<td>胜</td>
							<td class="red"><a href="#">查看详情</a></td>
						</tr>
						<tr>
							<td>3</td>
							<td>2018050221</td>
							<td>商品伪劣问题。</td>
							<td>负</td>
							<td class="red"><a href="#">查看详情</a></td>
						</tr>
						<tr>
							<td>4</td>
							<td>2018050221</td>
							<td>商品伪劣问题。</td>
							<td>大众审判中</td>
							<td class="red"><a href="#">查看详情</a></td>
						</tr>
						<tr>
							<td>5</td>
							<td>2018050221</td>
							<td>商品伪劣问题。</td>
							<td>胜</td>
							<td class="red"><a href="#">查看详情</a></td>
						</tr>
						<tr>
							<td>6</td>
							<td>2018050221</td>
							<td>商品伪劣问题。</td>
							<td>负</td>
							<td class="red"><a href="#">查看详情</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
		
	<!--footer-->
	<div class="footer">
		<div class="container">
			版权所有&copy;2018 一甫集代购达人
		</div>
	</div>
	<div class="m-mask"></div>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>	
	<script type="text/javascript" src="js/main.js"></script>	
</body>
</html>