{% extends 'base.html' %}
{% load staticfiles %}

{% block main-menu-theory %}
    <a href="theory" class="active">说说谁有理</a>
{% endblock %}

{% block main-big-title %}
    <div class="cont-text">
        <h1>群众的眼睛是雪亮的。发起你的说理，无良卖家，奇葩买家都将无所遁形。</h1>
    </div>
{% endblock %}

{% block main-body %}
    <div class="container member-container clearfix">
        <div class="member-tab-item tab-transactionRecord">
            <table>
                <thead>
                    <tr>
                        <th>顺序</th>
                        <th>序号</th>
                        <th>主题</th>
                        <th>状态</th>
                        <th>详情</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.code }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.status }}</td>
                        <td class="red"><a href="/blogs/theory/{{ item.id }}">查看详情</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
