{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>一甫集代购达人 IF Collections Master Buyer</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
{#	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.min.css" />#}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.min.css" %}" />
    <script src="{% static "js/jquery.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js"  %}"></script>
</head>
<body>
	<!--header-->
	<div class="header">
		<div class="container">
			<div class="top-bar clearfix">
				<div class="logo fl">
					<a href="/index"><img src="{{ STATIC_URL }}images/logo.png" /></a>
				</div>
                {% if request.user.is_authenticated %}
{#				{% if request.user.username %}#}
				<div class="hd-right fr">
                    <a href="blogs/block?block=man">淘淘看</a>
                    {% if not request.user.info.is_vip %}
                        <a href="/accounts/setting">达人入住</a>
                    {% endif %}
					<a href="/accounts/center?user_id={{ request.user.id }}" class="user">
						<img src="{{ MEDIA_URL }}{{ request.user.info.head_img }}" style="max-width: 100%;border: none; width: 30px; height: 30px; vertical-align: top; border-radius: 30px;">
					</a>
					<a href="/accounts/logout" data-ele="btnLogin">退出</a>
				</div>
				{% else %}
				<div class="hd-right fr">
					<a href="javascript:;" data-ele="btnLogin">达人入驻</a>
					<a href="javascript:;" data-ele="btnLogin">登录</a>
					<a href="javascript:;" data-ele="btnLogin" class="join">加入</a>
				</div>
				{% endif %}
			</div>

			<div class="panel-search">
				<h1>找个代购达人当朋友，让海淘生活更精彩</h1>
				<h5>更贴心的海淘生活就在这里</h5>
				<form class="search clearfix">
                    <input type="text" class="text fl" placeholder="开始在全世界淘你想淘" name="keywords">
					<input type="submit" class="submit fr" value="搜索" name="submit">
                </form>

				<div class="area">
					<a href="blogs/area"><span></span>国家与地区</a>
				</div>
			</div>
		</div>
	</div>

	<!--main-->
	<div class="main">
		<div class="container">
			<div class="panel-group clearfix">

{#				<div class="item">#}
{#					<a href="blogs/block?block=news">#}
{#						<img src="{{ STATIC_URL }}images/icon-item-1.png">#}
{#						<span></span>#}
{#						海淘那些事#}
{#					</a>#}
{#				</div>#}
{#				<div class="item">#}
{#					<a href="blogs/block?block=man">#}
{#						<img src="{{ STATIC_URL }}images/icon-item-2.png">#}
{#						<span></span>#}
{#						淘淘看#}
{#					</a>#}
{#				</div>#}
{#				<div class="item">#}
{#					<a href="blogs/block?block=want">#}
{#						<img src="{{ STATIC_URL }}images/icon-item-3.png">#}
{#						<span></span>#}
{#						我要我要的#}
{#					</a>#}
{#				</div>#}
{#				<div class="item">#}
{#					<a href="blogs/theory">#}
{#						<img src="{{ STATIC_URL }}images/icon-item-4.png">#}
{#						<span></span>#}
{#						说说谁有理#}
{#					</a>#}
{#				</div>#}
			</div>

			<!--热门地区-->
			<div class="panel-title">
				<h3>热门地区</h3>
			</div>
			<div class="panel-area">
				<ul class="clearfix">
					<li>
						<img src="{{ STATIC_URL }}images/232x300.jpg">
						<a href="/accounts/users?area=加拿大">
							<h4>加拿大</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300-1.jpg">
						<a href="/accounts/users?area=美国">
							<h4>美国</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300-2.jpg">
						<a href="/accounts/users?area=英国">
							<h4>英国</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300-3.jpg">
						<a href="/accounts/users?area=法国">
							<h4>法国</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300-4.jpg">
						<a href="/accounts/users?area=意大利">
							<h4>意大利</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300-4.jpg">
						<a href="/accounts/users?area=德国">
							<h4>德国</h4>
						</a>
					</li><li>
						<img src="{{ STATIC_URL }}images/232x300-5.jpg">
						<a href="/accounts/users?area=澳大利亚">
							<h4>澳大利亚</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300-6.jpg">
						<a href="/accounts/users?area=新西兰">
							<h4>新西兰</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300.jpg">
						<a href="/accounts/users?area=日本">
							<h4>日本</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300-1.jpg">
						<a href="/accounts/users?area=韩国">
							<h4>韩国</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300-2.jpg">
						<a href="/accounts/users?area=港澳">
							<h4>港澳</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300-3.jpg">
						<a href="/accounts/users?area=中国">
							<h4>中国</h4>
						</a>
					</li>
				</ul>
			</div>

			<!--达人排行榜-->
			<div class="panel-title">
				<h3>达人排行榜</h3>
			</div>
			<div class="panel-row">
				<ul class="clearfix">
					{% for item in da_list %}
					<li>
						<a href="/accounts/center?user_id={{ item.user_id }}">
							<img src="{{ MEDIA_URL }}{{ item.head_img }}" />
							<div class="info">
								<div class="col name">{{ item.user_name }}</div>
								<div class="col">经验值：{{ item.level_text }}</div>
								<div class="col">擅长品类：{{ item.goods_text }}</div>
								<div class="col">产品来源：{{ item.source_text }}</div>
								<div class="col">服务内容：{{ item.service_text }}</div>
								<div class="col">
                                    {% if item.is_attention %}
                                        <span onclick="disFavorites({{ item.id }}, 'attention')">取消关注</span>
                                    {% else %}
                                        <span onclick="favorites({{ item.id }}, 'attention')">关注</span>
                                    {% endif %}
{#                                    {% if item.is_favorite %}#}
{#                                        <span onclick="{{ item.id }}, 'favorite'">取消收藏</span>#}
{#                                    {% else %}#}
{#                                        <span onclick="favorites({{ item.id }}, 'favorite')"></span>#}
{#                                    {% endif %}#}
                                </div>
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="panel-more">
			<a href="/accounts/users">查看更多</a>
		</div>
		<div class="panel-code" style="background:url({{ STATIC_URL }}images/banner.jpg) no-repeat top center;">
            <div class="item">
				<img src="{{ STATIC_URL }}images/qrcode.png" />
				<span>公众号二维码</span>
			</div>
			<div class="item">
				<img src="{{ STATIC_URL }}images/qrcode.png" />
				<span>APP下载二维码</span>
			</div>
		</div>
	</div>

	<!--footer-->
	<div class="footer">
		<div class="container">
            <a target="_blank" href="http://www.miitbeian.gov.cn/">沪ICP备18037270</a>
		</div>
	</div>

	<!--注册登录-->
	<div class="panel-login hide">
		<div class="mask"></div>
		<div class="login-container">
			<div class="group panel-group-1 hide">
				<h2>加入一甫集</h2>
				<div class="wechat"><i></i>微信注册</div>
				<input type="text" class="text" placeholder="请输入电子邮箱" name="email">
				<button class="submit" type="submit">继续</button>
				<div class="tips">已经是会员？<a href="#">登录</a></div>
			</div>

			<div class="group panel-group-2 hide">
				<h2>加入一甫集</h2>
				<form method="post" action="/accounts/sign/up">
				<input type="text" class="text" placeholder="请输入用户名" name="username">
				<input type="password" class="text" placeholder="请输入密码" name="password">
				<button class="submit" type="submit">确定</button>
				<div class="tips">已经是会员？<a href="#">登录</a></div>
				</form>
			</div>

			<div class="group panel-group-3 hide">
				<h2>使用微信注册</h2>
				<form method="post" action="/accounts/sign/up">
					<input type="text" class="text" placeholder="请输入微信号或手机号" name="username">
					<input type="password" class="text" placeholder="请输入密码" name="password">
					<button class="submit" type="submit">确定</button>
					<div class="tips">已经是会员？<a href="#">登录</a></div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
</body>
</html>

<script type="text/javascript">

    function favorites(userId, action) {
        var params = {
            user_id: userId,
            action: action
        };

        $.ajax({
            type:'POST',
            url: '/accounts/favorite',
            data: params,
            success: function(data){
                location.reload();
            }
        })
    }

    function disFavorites(userId, action) {
        var params = {
            user_id: userId,
            action: action
        };

        $.ajax({
            type:'PUT',
            url: '/accounts/dis_favorite',
            data: params,
            success: function(data){
                location.reload();
            }
        })
    }

</script>
