<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>一甫集代购达人 IF Collections Master Buyer</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.min.css" />
</head>
<body>
	<!--header-->
	<div class="header">
		<div class="container">
			<div class="top-bar clearfix">
				<div class="logo fl">

					<a href="index.html"><img src="{{ STATIC_URL }}images/logo.png" /></a>
				</div>
				{% if user %}
				<div class="hd-right fr">
					<a href="/account/center" class="user">
						<img src="{{ STATIC_URL }}images/300x300.jpg" width="30px">
					</a>
					<a href="/accounts/logout" data-ele="btnLogin">退出</a>
				</div>
				{% else %}
				<div class="hd-right fr">
					<a href="javascript:;" data-ele="btnLogin">达人入驻</a>
					<a href="javascript:;" data-ele="btnLogin">登录</a>
					<a href="javascript:;" data-ele="btnLogin" class="join">加入</a>
				</div>
				{% endif %}

			</div>

			<div class="panel-search">
				<h1>找个代购达人当朋友，让海淘生活更精彩</h1>
				<h5>更贴心的海淘生活就在这里</h5>
				<form class="search clearfix">
					<input type="text" class="text fl" placeholder="开始在全世界淘你想淘" name="keywords">
					<input type="submit" class="submit fl" value="搜索" name="submit">
				</form>
				<div class="area">
					<a href="rankings.html"><span></span>国家与地区</a>
				</div>
			</div>
		</div>
	</div>

	<!--main-->
	<div class="main">
		<div class="container">
			<div class="panel-group clearfix">
				<div class="item">
					<a href="news.html">
						<img src="{{ STATIC_URL }}images/icon-item-1.png">
						<span></span>
						海淘那些事
					</a>
				</div>
				<div class="item">
					<a href="man.html">
						<img src="{{ STATIC_URL }}images/icon-item-2.png">
						<span></span>
						达人发布台
					</a>
				</div>
				<div class="item">
					<a href="want.html">
						<img src="{{ STATIC_URL }}images/icon-item-3.png">
						<span></span>
						我要我要的
					</a>
				</div>
				<div class="item">
					<a href="theory.html">
						<img src="{{ STATIC_URL }}images/icon-item-4.png">
						<span></span>
						说说谁有理
					</a>
				</div>
			</div>

			<!--热门地区-->
			<div class="panel-title">
				<h3>热门地区</h3>
			</div>
			<div class="panel-area">
				<ul class="clearfix">
					<li>
						<img src="{{ STATIC_URL }}images/232x300.jpg">
						<a href="rankings.html">
							<h4>加拿大</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300-1.jpg">
						<a href="rankings.html">
							<h4>美国</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300-2.jpg">
						<a href="rankings.html">
							<h4>英国</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300-3.jpg">
						<a href="rankings.html">
							<h4>法国</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300-4.jpg">
						<a href="rankings.html">
							<h4>意大利</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300-4.jpg">
						<a href="#">
							<h4>德国</h4>
						</a>
					</li><li>
						<img src="{{ STATIC_URL }}images/232x300-5.jpg">
						<a href="rankings.html">
							<h4>澳大利亚</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300-6.jpg">
						<a href="rankings.html">
							<h4>新西兰</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300.jpg">
						<a href="rankings.html">
							<h4>日本</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300-1.jpg">
						<a href="rankings.html">
							<h4>韩国</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300-2.jpg">
						<a href="rankings.html">
							<h4>港澳</h4>
						</a>
					</li>
					<li>
						<img src="{{ STATIC_URL }}images/232x300-3.jpg">
						<a href="rankings.html">
							<h4>中国</h4>
						</a>
					</li>
				</ul>
			</div>

			<!--达人排行榜-->
			<div class="panel-title">
				<h3>达人排行榜</h3>
			</div>
			<div class="panel-row">
				<ul class="clearfix">
					{% for da in da_list %}
					<li>
						<a href="#">
							<img src="{{ STATIC_URL }}images/232x300-1.jpg" />
							<div class="info">
								<div class="col name">张某某</div>
								<div class="col">经验值：菜鸟</div>
								<div class="col">擅长品类：奢饰品</div>
								<div class="col">产品来源：英国</div>
								<div class="col">服务内容：代购</div>
								<div class="col"><span>关注</span><span>收藏</span></div>
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="panel-more">
			<a href="#">查看更多</a>
		</div>
		<div class="panel-code" style="background:url(images/banner.jpg) no-repeat top center;">
			<div class="item">
				<img src="{{ STATIC_URL }}images/qrcode.png" />
				<span>公众号二维码</span>
			</div>
			<div class="item">
				<img src="{{ STATIC_URL }}images/qrcode.png" />
				<span>APP下载二维码</span>
			</div>
		</div>
	</div>

	<!--footer-->
	<div class="footer">
		<div class="container">
			版权所有&copy;2018 一甫集代购达人
		</div>
	</div>

	<!--注册登录-->
	<div class="panel-login hide">
		<div class="mask"></div>
		<div class="login-container">
			<div class="group panel-group-1 hide">
				<h2>加入一甫集</h2>
				<div class="wechat"><i></i>微信注册</div>
				<input type="text" class="text" placeholder="请输入电子邮箱" name="email">
				<button class="submit" type="submit">继续</button>
				<div class="tips">已经是会员？<a href="#">登录</a></div>
			</div>

			<div class="group panel-group-2 hide">
				<h2>加入一甫集</h2>
				<form method="post" action="/account/sign/up">
				<input type="text" class="text" placeholder="请输入用户名" name="username">
				<input type="password" class="text" placeholder="请输入密码" name="password">
				<button class="submit" type="submit">确定</button>
				<div class="tips">已经是会员？<a href="#">登录</a></div>
				</form>
			</div>

			<div class="group panel-group-3 hide">
				<h2>使用微信注册</h2>
				<form method="post" action="/accounts/sign/up">
					<input type="text" class="text" placeholder="请输入微信号或手机号" name="username">
					<input type="password" class="text" placeholder="请输入密码" name="password">
					<button class="submit" type="submit">确定</button>
					<div class="tips">已经是会员？<a href="#">登录</a></div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
</body>
</html>