{% extends 'base.html' %}

{% block main-menu-man %}
    <a href="man" class="active">达人发布台</a>
{% endblock %}

{% block main-big-title %}
    <div class="cont-text">
        <h1>不再担心朋友圈被拉黑，尽情发送你的推荐，让属于你的粉丝终将找到你。</h1>
    </div>
{% endblock %}

{% block main-body %}
    <div class="news-wrap clearfix">
        <div class="aside-type fl">
            <dl>
                <dt><a href="#" class="active">全部</a></dt>
            </dl>
            <dl>
                <dt><a href="#">关于</a></dt>
                <dd><a href="#">产品</a></dd>
                <dd><a href="#">物流</a></dd>
            </dl>
            <dl>
                <dt><a href="#">来源于</a></dt>
                <dd><a href="#">加拿大</a></dd>
                <dd><a href="#">美国</a></dd>
                <dd><a href="#">英国</a></dd>
                <dd><a href="#">法国</a></dd>
                <dd><a href="#">意大利</a></dd>
                <dd><a href="#">德国</a></dd>
                <dd><a href="#">澳大利亚</a></dd>
                <dd><a href="#">新西兰</a></dd>
                <dd><a href="#">日本</a></dd>
                <dd><a href="#">韩国</a></dd>
                <dd><a href="#">港澳</a></dd>
                <dd><a href="#">中国</a></dd>

                <dd><a href="#">美洲区</a></dd>
                <dd><a href="#">欧洲区</a></dd>
                <dd><a href="#">大洋洲</a></dd>
                <dd><a href="#">亚洲区</a></dd>
                <dd><a href="#">非洲区</a></dd>
            </dl>
        </div>
        <div class="news-list fr">
            <ul>
                <li>
                    <h4><a href="news-detail.html">如何找靠谱的代购</a></h4>
                    <p> 其实大家一看到代购两个字就从内心无意识的给别人定义为骗子，正如4年前还没留学意大利的我的一样。心里莫名的抵触其实大家一看到代购两个字就从内心无意识的给别人定义为骗子，</p>
                    <span>2018-06-09 12:00:30</span>
                </li>
                <li>
                    <h4><a href="news-detail.html">如何找靠谱的代购</a></h4>
                    <p> 其实大家一看到代购两个字就从内心无意识的给别人定其实大家一看到代购两个字就从内心无意识的给别人定义为骗子，义为骗子，正如4年前还没留学意大利的我的一样。心里莫名的抵触...</p>
                    <span>2018-06-09 12:00:30</span>
                </li>
                <li>
                    <h4><a href="news-detail.html">如何找靠谱的代购</a></h4>
                    <p> 其实大家一看到代购两个字就从内心无意识的给别人定义其实大家一看到代购两个字就从内心无意识的给别人定义为骗子，为骗子，正如4年前还没留学意大利的我的一样。心里莫名的抵触...</p>
                    <span>2018-06-09 12:00:30</span>
                </li>
                <li>
                    <h4><a href="news-detail.html">如何找靠谱的代购</a></h4>
                    <p> 其实大家一看到代购两个字就从内心无意识的给别人其实大家一看到代购两个字就从内心无意识的给别人定义为骗子，定义为骗子，正如4年前还没留学意大利的我的一样。心里莫名的抵触...</p>
                    <span>2018-06-09 12:00:30</span>
                </li>
                <li>
                    <h4><a href="news-detail.html">如何找靠谱的代购</a></h4>
                    <p> 其实大家一看到代购两个字就从内心无意识的给别人定义为骗子，正如4年前还没留学意大利的我的一样。心里莫名的抵触...</p>
                    <span>2018-06-09 12:00:30</span>
                </li>
            </ul>
        </div>
        <div class="panel-paging">
            <a href="#">1</a>
            <a href="#" class="active">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
        </div>
    </div>
    <div class="release-container news-container clearfix">

        <div class="q-title">快速发布</div>

        <div class="item">
            <label>主题：</label>
            <div class="info">
                <input type="text" placeholder="请输入标题" class="text" name="pro">
            </div>
        </div>
        <div class="item">
            <label>关于：</label>
            <div class="info">
                <label>
                    <input type="radio" name="pro">
                    产品
                </label>
                <label>
                    <input type="radio" name="pro">
                    物流
                </label>
            </div>
        </div>
        <div class="item">
            <label>来源地：</label>
            <div class="info">
                <label>
                    <input type="radio" name="pro">
                    美国
                </label>
                <label>
                    <input type="radio" name="pro">
                    加拿大
                </label>
                <label>
                    <input type="radio" name="pro">
                    英国
                </label>
                <label>
                    <input type="radio" name="pro">
                    法国
                </label>
                <label>
                    <input type="radio" name="pro">
                    意大利
                </label>
                <label>
                    <input type="radio" name="pro">
                    德国
                </label>
                <label>
                    <input type="radio" name="pro">
                    澳大利亚
                </label>
                <label>
                    <input type="radio" name="pro">
                    新西兰
                </label>
                <label>
                    <input type="radio" name="pro">
                    日本
                </label>
                <label>
                    <input type="radio" name="pro">
                    韩国
                </label>
                <label>
                    <input type="radio" name="pro">
                    港澳
                </label>
                <label>
                    <input type="radio" name="pro">
                    中国
                </label>
                <span>（热门地区）</span>
            </div>

            <div class="info">
                <label>
                    <input type="radio" name="pro">
                    欧洲
                </label>
                <label>
                    <input type="radio" name="pro">
                    美洲
                </label>
                <label>
                    <input type="radio" name="pro">
                    大洋洲
                </label>
                <label>
                    <input type="radio" name="pro">
                    亚洲
                </label>
                <label>
                    <input type="radio" name="pro">
                    非洲
                </label>
                <span>（五大洲）</span>
            </div>
        </div>
        <div class="item">
            <label>文章内容：</label>
            <div class="info">
                <textarea class="textarea" placeholder="请输入内容" rows="5"></textarea>
            </div>
        </div>
        <button type="submit" class="btn">发布</button>
    </div>
{% endblock %}
