{% extends 'base.html' %}

{% block main-menu-man %}
{#    <a href="block?block=man" class="active">达人发布台</a>#}
{% endblock %}

{% block main-big-title %}
{% endblock %}

{% block main-body %}
    <div class="news-wrap clearfix">
        <div class="aside-type fl">
            <dl>
                <dt><a href="block?block=man&source_area=hot">热门地区</a></dt>
                {% for item in areas.hot %}
                    <dd><a href="block?block=man&source_area={{ item }}">{{ item }}</a></dd>
                {% endfor %}
            </dl>
            <dl>
                <dt><a href="block?block=man&source_area=otherArea">其他地区</a></dt>
                {% for item in areas.other %}
                    <dd><a href="block?block=man&source_area={{ item }}">{{ item }}</a></dd>
                {% endfor %}
            </dl>
        </div>
        <div class="news-list fr">
            <ul>
                {% for item in data %}
                <li>
                    <div style="width: 100%; height: 260px">
                    <div style=" width:20%; float:left; ">
                        <img src="{{ MEDIA_URL }}{{ request.user.info.head_img }}" />
                        <label>来源</label>
                        <button>收藏</button>
                    </div>
                    <div style="width: 80%; float:right;">
                        <a href="">用户名</a>
                        <p>{{ item.article | linebreaks }}</p>
                        <span>{{ item.created_at }}</span>
                    </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="panel-paging">
            {{ page_str | safe }}
        </div>
    </div>
    <div class="release-container news-container clearfix">
        {% if request.user.info.is_vip %}
{#        <form method="post", action="/blogs/block">#}
{#        <form >#}
        <div class="item">
            <label>产品描述：</label>
            <div class="info">
                <textarea class="textarea" id="article" placeholder="请输入内容" name="article" rows="5"></textarea>
            </div>
        </div>
        <div class="item">
            <label>产品图片：</label>
            <div class="info infoIMG imgList" id="imgLIst">
                <div class="btn-upload but-margin-top">
                    <input type="file"  id="blog-img"  name="file" onchange="uploadFile()">
                    <span>上传图片</span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn" onclick="deploy()">发布</button>
{#        </form>#}
    {% endif %}
    </div>
{% endblock %}

{% block js-body %}
<script type="text/javascript">

    var pic_ids = '';
    var data = "";
    function uploadFile() {
        var formData = new FormData();
        formData.append('file', $('#blog-img')[0].files[0]);
        $.ajax({
            type:'POST',
            url: '/image_upload',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            success: function(data){
                pic_ids += data.id + ',';
                var url = '/media/' + data.url;
                var ele = '<img src="' + url + '"/>';
                $("#imgLIst").prepend(ele)
            }
        })
    }

    function deploy() {
        var formData = {
            article: $('#article').val(),
            pic_ids: pic_ids
        };
        $.ajax({
            type:'POST',
            url: '/blogs/block',
            cache: false,
            data: formData,
            success: function(data){
                window.location.reload()
            }
        });
        console.log(pic_ids)
    }

</script>
{% endblock %}