{% extends 'base.html' %}
{% load staticfiles %}

{% block main-big-title %}
{% endblock %}

{% block main-body %}
    <div class="container member-container clearfix">
        <div class="member-aside fl">
            <div class="head-portrait">

                <div class="name">Hi，{{ request.user.username }}</div>
                <a href="/blogs/deploy" class="btn-demand">关注此会员</a>
                <p class="declaration">经验值<span>{{ level_text }}</span>{{ user_info.score }}积分<a href=""
                title="海淘那些事： 发布篇原创文章 一次25分 （达人／普通会员均可）
创建一次交易记录：一次15分 （达人会员创建，邀请普通会员（买方）确认）
达人工作台：发布一次 5分（仅限达人会员）
我要我要的： 发布一次 5分 （达人／普通会员均可）
说说谁有理中：点击支持任何一方一次 3个分
在任何地方发表评论：一次3分 （达人／普通会员均可）
在任何地方点 赞 或 倒： 一次1分 （达人／普通会员均可）">积分说明</a></p>
            </div>
            <div class="btns">
                <a href="" >问问看</a>
            </div>
            <div class="btns">
                <a href="#" class="follow">关注({{ attention_count }})</a>
                <a href="#" class="collection">收藏({{ favorite_count }})</a>
            </div>
            <div class="btns">
                <a href="" >消息(5)</a>
            </div>
            <button class="sign-out">退出登录</button>
        </div>

        <div class="member-cont fr">
            <div class="member-tab-title">
                <a>个人信息</a>
            </div>


            <div class="member-tab-cont m-table">
                {% if is_self %}
                <div class="user-info user-info-left">
                    <div style="height: 30px"></div>
                    {% for item in user_data %}
                        <div style="height: 30px; margin-bottom: 10px; vertical-align: top;">
                            <label style="width: 40%; min-width: 60px">{{ item.name }}</label>
                            {% if item.name == '需求描述' %}
                                <textarea rows="3" id="{{ item.name }}" value="{{ item.value }}" style="vertical-align:top"></textarea>
                            {% else %}
                                <input style="width: 60%" type="text" id="{{ item.name }}" value="{{ item.value }}">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="user-info user-info-right">
                    <div style="height: 30px"> <label>是否对外公开</label></div>
                    {% for item in user_data %}
                        <div style="height: 30px; margin-bottom: 10px">
                            <input id="{{ item.name }}" type="radio" name="{{ item.name }}">
                            <label>是</label>
                            <input id="{{ item.name }}" type="radio" name="{{ item.name }}">
                            <label>否</label>
                        </div>

                    {% endfor %}
                </div>
                {% else %}
                    <div class="user-info user-info-left">
                    <div style="height: 20px"></div>
                    <div style="width:20%; float:left">
                        <label>姓名</label>
                    </div>
                    <div style="width:80%; float:right">
                        <input id="userName" type="text">
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}