{% extends 'base.html' %}
{% load staticfiles %}

{% block main-big-title %}
{% endblock %}


{% block main-body %}
    <div class="container member-container clearfix">
			<div class="member-aside fl">
				<div class="head-portrait">
					<img src="{{ MEDIA_URL }}{{ request.user.info.head_img }}" />
					<i class="grade"></i>
					<div class="name">{{ user.username }}</div>
					<p class="declaration">经验值<span>菜鸟</span>35积分<a href=""
                    title="海淘那些事： 发布篇原创文章 一次25分 （达人／普通会员均可）
创建一次交易记录：一次15分 （达人会员创建，邀请普通会员（买方）确认）
达人工作台：发布一次 5分（仅限达人会员）
我要我要的： 发布一次 5分 （达人／普通会员均可）
说说谁有理中：点击支持任何一方一次 3个分
在任何地方发表评论：一次3分 （达人／普通会员均可）
在任何地方点 赞 或 倒： 一次1分 （达人／普通会员均可）">积分说明</a></p>
					<div class="btns">
                        {% if is_attention %}
                            <a href="/accounts/qa?vip_user={{ user.id }}" >问问看</a>
                        {% else %}
{#                            <a href="" >问问看</a>#}
                        {% endif %}
                    </div>
				</div>
                <div class="btns">
                    <a href="#" class="follow">关注({{ attention_count }})</a>
                    <a href="#" class="collection">收藏({{ favorite_count }})</a>
                </div>
                <div class="btns">
                    <a href="" >消息(5)</a>
                </div>
                <button class="sign-out">退出登录</button>
				<div class="items">
					<div class="col">
						<div class="title">会员性质</div>
                        {% if attr.type == 'person' %}
                            <div><label  style="padding: 10px;">姓名：{{ attr.user_name }}</label></div>
                            <div><label  style="padding: 10px;">地址：{{ attr.user_address }}</label></div>
                        {% else %}
                            <div><label style="padding-left: 0px;">境外公司</label></div>
                                <div><label >公司名称：{{ attr.outside_company }}</label></div>
                                <div><label >公司地址：{{ attr.outside_address }}</label></div>
                            <div><label style="padding-left: 0px;">境内公司</label></div>
                                <div><label >公司名称：{{ attr.inside_company }}</label></div>
                                <div><label >公司名称：{{ attr.inside_address }}</label></div>
                        {% endif  %}
                    </div>
					<div class="col">
						<div class="title">产品来源</div>
						<div class="desc">{{ user_info.source }}</div>
					</div>
					<div class="col">
						<div class="title">联系方式</div>
						<div class="desc">{{ user_info.phone }}</div>
					</div>
					<div class="col">
						<div class="title">网站</div>
						<div class="desc">{{ user_info.www }}</div>
					</div>
                    <div class="col">
						<div class="title">服务详情</div>
						<div class="desc">{{ user_info.desc }}</div>
					</div>
				</div>
			</div>

			<div class="member-cont fr">
				<div class="member-tab-title">
                    {% if is_self %}
                    <a href="/blogs/deploy"><button class="new-add" type="submit">新发布</button></a>
                    {% else %}
                        <a href=""></a>
                    {% endif %}
				</div>
                {% for item in blogs %}
            <div class="col-xs-12 col-md-12" style="padding-bottom: 20px; padding-top: 5px;">
                <div class="col-xs-2 col-md-2">
                    <div style="padding-top: 5px">
                        <label class="fl">{{ item.show_time }}</label>
                    </div>
                </div>
                <div class="col-xs-10 col-md-10" style="padding: 0px">
                    <div class="col-xs-12 col-md-12" style="padding-left: 0px;padding-right: 0px;">
                        <p>{{ item.article | linebreaks }}</p>
                    </div>
                    <div class="col-xs-12 col-md-12" style="padding-left: 0px;padding-right: 0px;padding-top: 5px;">
                    {% for pic in item.picture %}
                        <div class="col-xs-4 col-md-4" style="padding-left: 2px; padding-right: 2px">
                            <img src={{ pic }}/>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="col-xs-12 col-md-12" style="padding-left: 0px">


                    </div>
                </div>
            </div>
          {% endfor %}
{#				<div class="member-tab-cont m-table">#}
{#					<div class="member-tab-item tab-transactionRecord">#}
{#                        <div class="col-md-12" style="padding-top: 20px;">#}
{#                            <label class="col-md-3">产品描述：</label>#}
{#                            <div class="col-md-9">#}
{#                                <textarea class="col-md-12" id="article" placeholder="请输入内容" name="article" rows="5" style="resize: vertical"></textarea>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-12" style="padding-top: 20px;">#}
{#                            <label class="col-md-3">产品图片：</label>#}
{#                            <div class="col-md-9" class="info infoIMG imgList" id="imgList1">#}
{#                                <div class="btn-upload but-margin-top">#}
{#                                    <input type="file"  id="blog-img1"  name="file" onchange="uploadFile()">#}
{#                                    <span>上传图片</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#					</div>#}
{#				</div>#}

			</div>
		</div>
{% endblock %}

{% block js-body %}
<script type="text/javascript">
    var pic_ids = '';
    function uploadFile() {
        var formData = new FormData();
        formData.append('file', $('#blog-img1')[0].files[0]);
        $.ajax({
            type:'POST',
            url: '/image_upload',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            success: function(data){
                pic_ids += data.id + ',';
                var url = '/media/' + data.url;
                var ele = '<img src="' + url + '"/>';
                $("#imgList1").prepend(ele)
            }
        })
    }

    function jump_deploy() {
        var formData = {
{#            article: $('#article').val(),#}
{#            pic_ids: pic_ids#}
        };
        $.ajax({
            type:'GET',
            url: '/blogs/deploy',
            cache: false,
            data: formData,
            success: function(data){
                window.location.reload()
            }
        });
        console.log(pic_ids)
    }


    // 直接传item对象，语法报错
    function updateTrade(id, date, buyer, amount, content, img){
        $("#trade-method").val('put')
        $("#trade-id").val(id);
        $("#trade-date").val(date);
        $("#trade-buyer").val(buyer);
        $("#trade-amount").val(amount);
        $("#trade-content").val(content);
        $("#trade-img-url").val(img);
        $("#trade-img").attr("src", img);
    }
</script>
{% endblock %}