{% extends 'base.html' %}
{% load staticfiles %}

{% block main-big-title %}
{% endblock %}


{% block main-body %}
    <div class="container member-container clearfix">
			<div class="member-aside fl">
				<div class="head-portrait">
					<img src="{{ user_info.head_img }}" />
					<i class="grade"></i>
					<div class="name">{{ user.username }}</div>
					<p class="declaration">经验值<span>菜鸟</span>35积分<a href=""
                    title="海淘那些事： 发布篇原创文章 一次25分 （达人／普通会员均可）
创建一次交易记录：一次15分 （达人会员创建，邀请普通会员（买方）确认）
达人工作台：发布一次 5分（仅限达人会员）
我要我要的： 发布一次 5分 （达人／普通会员均可）
说说谁有理中：点击支持任何一方一次 3个分
在任何地方发表评论：一次3分 （达人／普通会员均可）
在任何地方点 赞 或 倒： 一次1分 （达人／普通会员均可）">积分说明</a></p>
					<div class="btns">
                        <a href="" >问问看</a>
                    </div>
				</div>
                <div class="btns">
                    <a href="#" class="follow">关注({{ attention_count }})</a>
                    <a href="#" class="collection">收藏({{ favorite_count }})</a>
                </div>
                <div class="btns">
                    <a href="" >消息(5)</a>
                </div>
                <button class="sign-out">退出登录</button>
				<div class="items">
					<div class="col">
						<div class="title">会员性质</div>
						<div class="desc">{{ user_info.goods_text }}</div>
					</div>
					<div class="col">
						<div class="title">产品来源</div>
						<div class="desc">{{ user_info.source_text }}</div>
					</div>
					<div class="col">
						<div class="title">联系方式</div>
						<div class="desc">{{ user_info.delivery_text }}</div>
					</div>
					<div class="col">
						<div class="title">网站</div>
						<div class="desc">{{ user_info.service_text }}</div>
					</div>
                    <div class="col">
						<div class="title">服务详情</div>
						<div class="desc">{{ user_info.service_text }}</div>
					</div>
				</div>
			</div>

			<div class="member-cont fr">
				<div class="member-tab-title">
                    <button class="new-add" type="submit">新发布</button>
				</div>
				<div class="member-tab-cont m-table">
					<div class="member-tab-item tab-details">
						网站： {{ user_info.www }}‍　<br/>
						客服邮箱：{{ user_info.email }}<br/>
						客服微信号：{{ user_info.wx }}<br/>
						客服QQ号：{{ user_info.qq }}<br/>
						详情介绍：<br/>
						{{ user_info.desc }}
					</div>
					<div class="member-tab-item tab-transactionRecord hide">
						<a href="/blogs/deploy" class="btn-add">新发布</a>
						<table>
							<thead>
								<tr>
									<th>顺序</th>
									<th>日期</th>
									<th>板块</th>
									<th>标题</th>
									<th>详情</th>
								</tr>
							</thead>
							<tbody>
								{% for item in blogs %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.created_at }}</td>
                                    <td>{{ item.block }}</td>
                                    <td>{{ item.title }}</td>
                                    <td class="red"><a href="/blogs/block/{{ item.id }}">查看详情</a></td>
                                </tr>
                                {% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block js-body %}
<script type="text/javascript">

    function uploadFile() {
        var formData = new FormData();
        formData.append('file', $('#trade-file')[0].files[0]);
        $.ajax({
            type:'POST',
            url: '/image_upload',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            success: function(data){
                var url = '/media/' + data.url;
                $("#trade-img").attr("src", url);
                $("#trade-img-url").val(url);
            },
        })
    }

    function createTrade(){

    }

    // 直接传item对象，语法报错
    function updateTrade(id, date, buyer, amount, content, img){
        $("#trade-method").val('put')
        $("#trade-id").val(id);
        $("#trade-date").val(date);
        $("#trade-buyer").val(buyer);
        $("#trade-amount").val(amount);
        $("#trade-content").val(content);
        $("#trade-img-url").val(img);
        $("#trade-img").attr("src", img);
    }
</script>
{% endblock %}