{% extends 'base.html' %}
{% load staticfiles %}

{% block main-big-title %}
{% endblock %}

	{% block main-body %}
{#        <form method="post", action="">#}
		<div class="container release-container news-container clearfix">
			<div class="item">
				<label>文章内容：</label>
				<div class="info">
					<textarea class="textarea" name="article" id="article" placeholder="请输入内容" rows="5" style="resize: vertical"></textarea>
				</div>
			</div>
            <div class="item">
                <label>产品图片：</label>
                <div class="info infoIMG imgList" id="imgList1">
                    <div class="btn-upload but-margin-top">
                        <input type="file"  id="blog-img1"  name="file" onchange="uploadFile()">
                        <span>上传图片</span>
                    </div>
                </div>
            </div>
			<button type="submit" class="btn" onclick="deploy()">发布</button>
		</div>
{#        </form>#}
{% endblock %}

{% block js-body %}
<script type="text/javascript">
    var pic_ids = '';
    function uploadFile() {
        var formData = new FormData();
        formData.append('file', $('#blog-img1')[0].files[0]);
        $.ajax({
            type:'POST',
            url: '/image_upload',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            success: function(data){
                pic_ids += data.id + ',';
                var url = '/media/' + data.url;
                var ele = '<img src="' + url + '"/>';
                $("#imgList1").prepend(ele)
            }
        })
    }

    function deploy() {
        var formData = {
            article: $('#article').val(),
            pic_ids: pic_ids
        };
        $.ajax({
            type:'POST',
            url: '/blogs/block',
            cache: false,
            data: formData,
            success: function(data){
                window.location.href="/blogs/block"
            }
        });
        console.log(pic_ids)
    }
</script>
{% endblock %}