{% extends 'base.html' %}

{% block main-menu-news %}
    <a href="news" class="active">海淘那些事</a>
{% endblock %}

{% block main-big-title %}
    <div class="cont-text">
        <h1>几多欢乐，几多愁。分享您的海淘经验，燃烧自已，照亮他人。</h1>
    </div>
{% endblock %}

{% block main-body %}
    <div class="news-list">
        <ul>
            <li>
                <h4><a href="news-detail.html">如何找靠谱的代购</a></h4>
                <p> 其实大家一看到代购两个字就从内心无意识的给别人定义为骗子，正如4年前还没留学意大利的我的一样。心里莫名的抵触其实大家一看到代购两个字就从内心无意识的给别人定义为骗子，</p>
                <span>2018-06-09 12:00:30</span>
            </li>
            <li>
                <h4><a href="news-detail.html">如何找靠谱的代购</a></h4>
                <p> 其实大家一看到代购两个字就从内心无意识的给别人定其实大家一看到代购两个字就从内心无意识的给别人定义为骗子，义为骗子，正如4年前还没留学意大利的我的一样。心里莫名的抵触...</p>
                <span>2018-06-09 12:00:30</span>
            </li>
            <li>
                <h4><a href="news-detail.html">如何找靠谱的代购</a></h4>
                <p> 其实大家一看到代购两个字就从内心无意识的给别人定义其实大家一看到代购两个字就从内心无意识的给别人定义为骗子，为骗子，正如4年前还没留学意大利的我的一样。心里莫名的抵触...</p>
                <span>2018-06-09 12:00:30</span>
            </li>
            <li>
                <h4><a href="news-detail.html">如何找靠谱的代购</a></h4>
                <p> 其实大家一看到代购两个字就从内心无意识的给别人其实大家一看到代购两个字就从内心无意识的给别人定义为骗子，定义为骗子，正如4年前还没留学意大利的我的一样。心里莫名的抵触...</p>
                <span>2018-06-09 12:00:30</span>
            </li>
            <li>
                <h4><a href="news-detail.html">如何找靠谱的代购</a></h4>
                <p> 其实大家一看到代购两个字就从内心无意识的给别人定义为骗子，正如4年前还没留学意大利的我的一样。心里莫名的抵触...</p>
                <span>2018-06-09 12:00:30</span>
            </li>
        </ul>
    </div>
    <div class="panel-paging news-paging">
        <a href="#">1</a>
        <a href="#" class="active">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
    </div>

    <div class="release-container news-container clearfix">

        <div class="q-title">快速发布</div>

        <div class="item">
            <label>主题：</label>
            <div class="info">
                <input type="text" placeholder="请输入标题" class="text" name="pro">
            </div>
        </div>
        <div class="item">
            <label>文章内容：</label>
            <div class="info">
                <textarea class="textarea" placeholder="请输入内容" rows="5"></textarea>
            </div>
        </div>
        <button type="submit" class="btn">发布</button>
    </div>
{% endblock %}


