<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>一甫集代购达人 IF Collections Master Buyer</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<link rel="stylesheet" type="text/css" href="dist/css/main.min.css" />
</head>
<body class="bg-fff">
	<!--header-->
	<div class="header panel-header">
		<div class="container">
			<div class="top-bar clearfix">
				<div class="logo fl">
					<div class="m-btn"></div>
					<a href="index.html"><img src="images/logo-black.png" /></a>
				</div>
				<div class="panel-search">
					<form class="search clearfix">
						<input type="text" class="text fl" placeholder="开始在全世界淘你想淘" name="keywords">
						<input type="submit" class="submit fl" value="搜索" name="submit">
					</form>
				</div>
				<div class="hd-right fr">
					<a href="#">达人入驻</a>
					<a href="#">登录</a>
					<a href="#" class="join">加入</a>
				</div>
				<div class="hd-right fr hide">
					<a href="#" class="user">
						<img src="images/300x300.jpg">
					</a>
				</div>
			</div>
			
		</div>
	</div>
	<div class="nav">
		<div class="container">
			<a href="index.html">首页</a>
			<a href="news.html" class="active">海淘那些事</a>
			<a href="man.html">达人发布台</a>
			<a href="want.html">我要我要的</a>
			<a href="reasoning.html">说说谁有理</a>
		</div>
	</div>
	<!--main-->
	<div class="main">

		<div class="cont-text">
			<h1>几多欢乐，几多愁。分享您的海淘经验，燃烧自已，照亮他人。</h1>
		</div>

		<div class="container clearfix">
			
			
			<div class="news-list">
				<ul>
					<li>
						<h4><a href="news-detail.html">如何找靠谱的代购</a></h4>
						<p> 其实大家一看到代购两个字就从内心无意识的给别人定义为骗子，正如4年前还没留学意大利的我的一样。心里莫名的抵触其实大家一看到代购两个字就从内心无意识的给别人定义为骗子，</p>
						<span>2018-06-09 12:00:30</span>
					</li>
					<li>
						<h4><a href="news-detail.html">如何找靠谱的代购</a></h4>
						<p> 其实大家一看到代购两个字就从内心无意识的给别人定其实大家一看到代购两个字就从内心无意识的给别人定义为骗子，义为骗子，正如4年前还没留学意大利的我的一样。心里莫名的抵触...</p>
						<span>2018-06-09 12:00:30</span>
					</li>
					<li>
						<h4><a href="news-detail.html">如何找靠谱的代购</a></h4>
						<p> 其实大家一看到代购两个字就从内心无意识的给别人定义其实大家一看到代购两个字就从内心无意识的给别人定义为骗子，为骗子，正如4年前还没留学意大利的我的一样。心里莫名的抵触...</p>
						<span>2018-06-09 12:00:30</span>
					</li>
					<li>
						<h4><a href="news-detail.html">如何找靠谱的代购</a></h4>
						<p> 其实大家一看到代购两个字就从内心无意识的给别人其实大家一看到代购两个字就从内心无意识的给别人定义为骗子，定义为骗子，正如4年前还没留学意大利的我的一样。心里莫名的抵触...</p>
						<span>2018-06-09 12:00:30</span>
					</li>
					<li>
						<h4><a href="news-detail.html">如何找靠谱的代购</a></h4>
						<p> 其实大家一看到代购两个字就从内心无意识的给别人定义为骗子，正如4年前还没留学意大利的我的一样。心里莫名的抵触...</p>
						<span>2018-06-09 12:00:30</span>
					</li>
				</ul>
			</div>
			<div class="panel-paging news-paging">
				<a href="#">1</a>
				<a href="#" class="active">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
			</div>

			<div class="release-container news-container clearfix">

				<div class="q-title">快速发布</div>

				<div class="item">
					<label>主题：</label>
					<div class="info">
						<input type="text" placeholder="请输入标题" class="text" name="pro">
					</div>
				</div>
				<div class="item">
					<label>文章内容：</label>
					<div class="info">
						<textarea class="textarea" placeholder="请输入内容" rows="5"></textarea>
					</div>
				</div>
				<button type="submit" class="btn">发布</button>
			</div>
		</div>
	</div>
		
	<!--footer-->
	<div class="footer">
		<div class="container">
			版权所有&copy;2018 一甫集代购达人 IF
		</div>
	</div>
	<div class="m-mask"></div>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>	
	<script type="text/javascript" src="js/main.js"></script>	
</body>
</html>