<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>一甫集代购达人 IF Collections Master Buyer</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<link rel="stylesheet" type="text/css" href="dist/css/main.min.css" />
</head>
<body class="bg-fff">
	<!--header-->
	<div class="header panel-header">
		<div class="container">
			<div class="top-bar clearfix">
				<div class="logo fl">
					<div class="m-btn"></div>
					<a href="index.html"><img src="images/logo-black.png" /></a>
				</div>
				<div class="panel-search">
					<form class="search clearfix">
						<input type="text" class="text fl" placeholder="开始在全世界淘你想淘" name="keywords">
						<input type="submit" class="submit fl" value="搜索" name="submit">
					</form>
				</div>
				<div class="hd-right fr">
					<a href="#">达人入驻</a>
					<a href="#">登录</a>
					<a href="#" class="join">加入</a>
				</div>
				<div class="hd-right fr hide">
					<a href="#" class="user">
						<img src="images/300x300.jpg">
					</a>
				</div>
			</div>
			
		</div>
	</div>
	<div class="nav">
		<div class="container">
			<a href="index.html">首页</a>
			<a href="news.html">海淘那些事</a>
			<a href="man.html">达人发布台</a>
			<a href="want.html">我要我要的</a>
			<a href="reasoning.html">说说谁有理</a>
		</div>
	</div>
	<!--main-->
	<div class="main">


		<div class="container clearfix">
			<div class="news-detail">
				<h1>如何找靠谱的代购</h1>
				<div class="info">
					<span>来源：代购达人</span>
					<span>作者：一甫集</span>
					<span>浏览量：600</span>
					<span>发布时间：2018-06-09 12:00:30</span>
				</div>
				<div class="cont">
					 其实大家一看到代购两个字就从内心无意识的给别人定义为骗子，正如4年前还没留学意大利的我的一样。心里莫名的抵触。从只认识LV,PRADA这种牌子到现在做了一年多代购以来，多少多少明白代购们的苦心了。其实靠谱的代购是有的，你们只没有见到过意大利盛夏抗着将近40度的高温，在THE MALL打折村GUCCI门口排队等着给顾客拿货的代购们，而更让我佩服的是这里面很大一部分都是学生，我们有的是佛罗伦斯美院的，也有和我一样佛罗伦斯大学的，条件再好些是polimoda的。我们有一个共同的代购群，平时分享些专柜折扣，拼单，和代购间的互助（比如帮忙打折村带东西呀，分享专柜折扣呀，客人跑单帮忙转发，借充电宝呀，卡刷爆了，帮忙代刷之类的）。当然，我们也时常检举出一些卖假货的代购，通过群里通知告诉更多的人，然后每个小伙伴就一起转发给客人，这样如果客人有加那个代购那基本上也成功脱离苦海了。<br/><br/>

　　 可正是有这么一帮人，卖假货，让我们卖真货海外代购的信誉如此不堪。打个比方，飞机可以算世界上最安全的交通工具了，可一出事就被广为报道，你是否在潜意思认为汽车比飞机更安全？那么每年车祸的概率却该是飞机失事的多少倍？再来就是价格。我就碰到过一次，一个新顾客问我LV SPEEDY的价格，我如实说了专柜多少，她不信，说我乱开价。后来问了才知道，原来她之前已经在别的代购那买过一个SPEEDY，问我价格主要是要比价，看我这边乱不乱开。因为我觉得我价格已经算是比较低的，再低点儿算上运费成本有点慌，所以我赶紧问了多少。这一问问出事来。她入手的价格比欧洲专柜还低1400快。熟悉LV的都知道，官网标什么价格店里就卖什么价格，从来没有打折什么的一说，每年会涨价3次左右。那么那个代购亏本卖的？？？于是我劝她去找专业人验了下货，才知道又是一个被骗了的。所以各位买东西千万不要图便宜。奢侈品有它本质的价格，卖假货的生意好，却难为了我们这些“乱开价的”。<br/><br/>

　　 那么怎么分辨靠谱代购？我觉得最好方法就是通过朋友亲戚推荐。知根知底，你就有底气了。找陌生代购的话，不要迷信于小票，虽然我自己没有经历过，但看网上说有那种小票机，可以给你打英文的，时间日期地点，价格都可以打。所以有小票的话不要盲目自信。那么不给小票的呢？这里我需要解释一下，给了小票意味这价格透明，所以代购有时候会犹豫下，另一方面也是经常遇到的。比如我在PRADA店里有3个包，2双鞋子。那客人都找我要小票的话，我是不是该把那张撕成5份？这也是无可奈何的事，何况邮寄放小票被扣那就XXXX了。最好是加对方微信的时候就开始观察她平时发什么图，有没有在国外的照片呀之类的（这可难为我们男代购了，不喜欢自拍怎么办）。难为归难为，这些基本的还是要些观察。图片分为两种，一种是专柜实拍。就是去店里头拍摄，有的店是不让拍的，所以需要偷拍，所以往往照片不会特别清晰。还有一种是囤货拍摄，这种就是东西代购已经买到手了，在家里拍。这里特别说一下，在家里然后带个黑白手套然后加个毛绒垫做背景的90%是A货。我能说就算是专柜也很少带手套这么供奉的好吧。。这无非是给小白一种拍的是奢侈品的感觉。再来买之前要对方微信定位，和现场购买小视频，那就八九不离十了。甚至你们还可以找对方要护照签证页照片或者学校的学生卡照片，如果对方连头像都不是自己本人的话，那不说一定卖假货，起码坦诚相见这点上就不足了。需要慎重考虑。也可以尝试小本投资。买小东西，然后专柜验货这样。再买大件，当然这对于大多数人来说，血本还是太大了。老实说就算以上这些全做了，还是不能保证得到的是真货，国内不是报道挺火的，国内广东寄国外，国外再直邮的。所以前期还是多和你们找的小代购交流交流。其实有时候了解得多了你自然就看得明白。<br/><br/>
　　 最后说说做代购些许难处。其实呢，并不像你们想象中那么潇洒逛商店。好比我自己住在离佛罗伦萨半个小时火车的一个小镇上EMPOLI，每次跑THE MALL打折村 需要先坐半个小时火车，然后转the mall大巴 45分钟，加上中间等车的时间，一趟就需要2个小时了。你们肯定没体会过，提9双鞋，坐车转车的经历。路上碰到老黑或者半黑盯你几秒还得掂量下安全。然后车费，火车来回将近9欧。大巴来回13欧（PS：以前来回10欧的，THE MALL开始欺客了）算下来也小200RMB.这是固定投入，如果那天没客人买怎么办？到打这村拍照又是一件痛苦的事，不知道你们偷拍过东西没？就是那种做贼的感觉，有时候还要跟店员争吵。在国内大家对老外都是很友好的，可是国外就不一样了，他们是那种不削的眼神！！！尤其是the mall prada的店员，你们可以问问自己找的意大利佛罗伦萨代购，哪个没有受过他们的气的。这是我们圈子里最讨厌的一家店！曾经我们联名投诉过那家店的店长！
				</div>

				<div class="panel-comments">
					<div class="coms-title">评论内容</div>
					<div class="coms-list">
						<ul>
							<li>
								<img src="images/300x300.jpg" />
								<div class="info">
									<div class="name clearfix">
										<h4>张三</h4>
										<div class="right fr">
											<span>转发(20)</span>
											<span>收藏(13)</span>
											<span>回复(3)</span>
										</div>
									</div>
									<div class="coms-cont">货币贬值导致我们：以前工作是为了致富，而现在是为了脱贫。</div>
									<div class="panel">
										<span class="time">10小时前</span>
									</div>
								</div>
							</li>
							<li>
								<img src="images/300x300.jpg" />
								<div class="info">
									<div class="name clearfix">
										<h4>张三</h4>
										<div class="right fr">
											<span>转发(20)</span>
											<span>收藏(13)</span>
											<span>回复(3)</span>
										</div>
									</div>
									<div class="coms-cont">货币贬值导致我们：以前工作是为了致富，而现在是为了脱贫。</div>
									<div class="panel">
										<span class="time">10小时前</span>
									</div>
								</div>
							</li>
							<li>
								<img src="images/300x300.jpg" />
								<div class="info">
									<div class="name clearfix">
										<h4>张三</h4>
										<div class="right fr">
											<span>转发(20)</span>
											<span>收藏(13)</span>
											<span>回复(3)</span>
										</div>
									</div>
									<div class="coms-cont">货币贬值导致我们：以前工作是为了致富，而现在是为了脱贫。</div>
									<div class="panel">
										<span class="time">10小时前</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="coms-box">
						<label>发布评论</label>
						<textarea rows="5" placeholder="请输入评论内容"></textarea>
						<input type="submit" value="发布" name="">
					</div>
				</div>
			<div>
		</div>
	</div>
		
	<!--footer-->
	<div class="footer">
		<div class="container">
			版权所有&copy;2018 一甫集代购达人
		</div>
	</div>	
	<div class="m-mask"></div>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>	
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>