{% extends 'base.html' %}

{% block main-menu-news %}
    <a href="block?block=news" class="active">海淘那些事</a>
{% endblock %}

{% block main-big-title %}
    <div class="cont-text">
        <h1>几多欢乐，几多愁。分享您的海淘经验，燃烧自已，照亮他人。</h1>
    </div>
{% endblock %}

{% block main-body %}
    <div class="news-list">
        <ul>
            {% for item in data %}
            <li>
                <h4><a href="block/{{ item.id }}">{{ item.title }}</a></h4>
                <p>{{ item.intro | linebreaks }}</p>
                <span>{{ item.created_at }}</span>
{#            <span>{{ item.created_at | date:"Y-m-d H:i:s" }}</span>#}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="panel-paging news-paging">
        {{ page_str | safe }}
    </div>

    <div class="release-container news-container clearfix">
        <div class="q-title">快速发布</div>
        <form method="post", action="/blogs/block">
        <div class="item">
            <label>主题：</label>
            <div class="info">
                <input type="text", name="block" value="news" hidden="true">
                <input type="text", name="user_id" value="{{ request.user.id }}" hidden="true">
                <input type="text" placeholder="请输入标题" class="text" name="title">
            </div>
        </div>
        <div class="item">
            <label>文章内容：</label>
            <div class="info">
                <textarea class="textarea" placeholder="请输入内容" name="article" rows="5"></textarea>
            </div>
        </div>
        <button type="submit" class="btn">发布</button>
        </form>
    </div>
{% endblock %}


