{% extends 'base.html' %}
{% load staticfiles %}

{% block main-big-title %}
{% endblock %}

{% block main-body %}
		<div class="container rankings-container clearfix">
			<div class="aside-area fl">
				<dl>
					<dt><a href="/accounts/users?area=hot">热门地区</a></dt>
                    {% for item in areas.hot %}
                        <dd><a href="/accounts/users?area={{ item }}">{{ item }}</a></dd>
                    {% endfor %}
				</dl>
				<dl>
					<dt><a href="/accounts/users?area=otherArea">其他地区</a></dt>
                    {% for item in areas.other %}
                        <dd><a href="/accounts/users?area={{ item }}">{{ item }}</a></dd>
                    {% endfor %}
				</dl>
			</div>
			<div class="panel-row fr">
				<ul class="clearfix">
					{% for item in users %}
                    <li>
						<a href="#">
							<img src="{{ MEDIA_URL }}{{ request.user.info.head_img }}" />
							<div class="info">
								<div class="col name">{{ item.user.username }}</div>
								<div class="col">经验值：{{ item.level_text }}</div>
								<div class="col">擅长品类：{{ item.goods_text }}</div>
								<div class="col">产品来源：{{ item.source_text }}</div>
								<div class="col">服务内容：{{ item.service_text }}</div>
								<div class="col">
                                    {% if item.is_attention %}
                                        <span onclick="disFavorites({{ item.id }}, 'attention')">取消关注</span>
                                    {% else %}
                                        <span onclick="favorites({{ item.id }}, 'attention')">关注</span>
                                    {% endif %}
{#                                    {% if item.is_favorite %}#}
{#                                        <span>取消收藏</span>#}
{#                                    {% else %}#}
{#                                    {% endif %}#}
                                </div>
							</div>
						</a>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>
		<div class="panel-more">
			<a onclick="getMoreUser({{ count }})">加载更多</a>
		</div>
		<div class="panel-code" style="background:url({% static "images/banner.jpg" %}) no-repeat top center;">
			<div class="item">
				<img src="{% static "images/qrcode.png" %}" />
				<span>公众号二维码</span>
			</div>
			<div class="item">
				<img src="{% static "images/qrcode.png" %}" />
				<span>APP下载二维码</span>
			</div>
		</div>
{% endblock %}

{% block js-body %}
<script type="text/javascript">

    function favorites(userId, action) {
        var params = {
            user_id: userId,
            action: action
        };

        $.ajax({
            type:'POST',
            url: '/accounts/favorite',
            data: params,
            success: function(data){
                location.reload();
            }
        })
    };

    function disFavorites(userId, action) {
        var params = {
            user_id: userId,
            action: action
        };

        $.ajax({
            type:'PUT',
            url: '/accounts/dis_favorite',
            data: params,
            success: function(data){
                location.reload();
            }
        })
    };

    function getQueryString(name) {
          var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
          var r = window.location.search.substr(1).match(reg);

          if (r != null) {
             return unescape(r[2]);
          }
          return null;
  }


    function getMoreUser(count){
        console.log(window.location.href);
        console.log(count)
        var defaultLimit = 12;
        var host = window.location.host;
        var path = window.location.pathname;
        var offset = getQueryString('offset');
        var limit = getQueryString('limit');
        var area = getQueryString('area');

        if (offset === null){
            offset = 0
        }

        if (offset === null){
            limit = 12
        }else{
            var page = parseInt(count/defaultLimit);
            limit = (page + 1) * defaultLimit;
        }

        if (area === null){
            area='hot'
        }

        var url = 'http://' + host + path + '?area=' + area + '&offset=' + offset + '&limit=' + limit;
        console.log(url);
        window.location.href = url;
    }


</script>
{% endblock %}