{% extends 'base.html' %}
{% load staticfiles %}

{% block main-menu-man %}
{#    <a href="block?block=man" class="active">达人发布台</a>#}
{% endblock %}

{% block main-big-title %}
{% endblock %}

{% block main-body %}
    <div class="container release-container clearfix">
			<form method="post" action="/accounts/setting">
			<div class="item">
				<label>头像：</label>
				<div class="info infoIMG">
					<img id="user-img" src="{{ MEDIA_URL }}{{ request.user.info.headimg }}"/>
					<div class="btn-upload">
                        <input id="user-upload-img" type="file"  onchange="uploadFile()">
					    <span>上传图片</span>
                        <input id="user-upload-img1" hidden="true" name="head_img" value="{{ request.user.info.headimg }}">
                    </div>
				</div>
			</div>
			<div class="item">
				<label>服务详情：</label>
				<div class="info">
					<textarea name="desc" class="textarea" placeholder="请输入描述内容" rows="5">{{ user_info.desc }}</textarea>
				</div>
			</div>
			<div class="item">
				<label>擅长品类：</label>
                <div class="info other">
                    <input type="text" placeholder="请输入擅长品类" name="goods" value="{{ user_info.goods }}">
                </div>
			</div>
			<div class="item">
				<label>产品来源：</label>
				<div class="info other ">
					<select class="form-control" style="max-width: 240px" name="source">
                        {% for item in contries %}
                            {% if item.value == user_info.source %}
                                <option value="{{ item.value }}" selected>{{ item.value }}</option>
                            {% else %}
                               <option value="{{ item.value }}">{{ item.value }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
				</div>
			</div>
			<div class="item">
				<label>会员性质：</label>
				<div class="info">
                    {% if attr.type != 'company' %}
                        <label>
                            <input type="radio" name="vip_type" id="PV" value="person" checked="checked">
                            个人
                        </label>
                        <label id="lastLabel">
                            <input type="radio" name="vip_type" id="CV" value="company">
                            公司
                        </label>
                        <div id="inCom">
                        <div>
                            <label>姓名</label>
                            <input class="user-info-input" type="text" placeholder="请输入姓名" name="attr_user_name" value="{{ attr.user_name }}">
                        </div>
                        <div>
                            <label>地址</label>
                            <input class="user-info-input" type="text" placeholder="请输入地址" name="attr_user_address" value="{{ attr.user_address }}">
                        </div>
                        </div>
                    {% else %}
                        <label>
						    <input type="radio" name="vip_type" id="PV" value="person" >
						    个人
                        </label>
                        <label id="lastLabel">
                            <input type="radio" name="vip_type" id="CV" value="company" checked="checked">
                            公司
                        </label>
                        <div id="outCom">
                            <label>境外公司（若有）：</label>
                            <div>
                                <label>公司名称</label>
                                <input class="user-info-input" type="text" placeholder="请输入公司名称" name="attr_outside_company" value="{{ attr.outside_company }}">
                            </div>
                            <div>
                                <label>公司地址</label>
                                <input class="user-info-input" type="text" placeholder="请输入公司地址" name="attr_outside_address" value="{{ attr.outside_address }}">
                            </div>
                            <label>境内公司（若有）：</label>
                            <div>
                                <label>公司名称</label>
                                <input class="user-info-input" type="text" placeholder="请输入公司名称" name="attr_inside_company" value="{{ attr.inside_company }}">
                            </div>
                            <div>
                                <label>公司地址</label>
                                <input class="user-info-input" type="text" placeholder="请输入公司地址" name="attr_inside_address" value="{{ attr.inside_address }}">
                            </div>
                        </div>

                    {% endif %}

				</div>
			</div>
			<div class="item">
				<label>客服微信号：</label>
				<div class="info">
					<input type="text" placeholder="请输入微信号" class="text" name="wx" value="{{ user_info.wx }}">
				</div>
			</div>
			<div class="item">
				<label>客服QQ号：</label>
				<div class="info">
					<input type="text" placeholder="请输入QQ号" class="text" name="qq" value="{{ user_info.qq }}">
				</div>
			</div>
			<div class="item">
				<label>客服电话号码：</label>
				<div class="info">
					<input type="text" placeholder="请输入电话号码" class="text" name="phone" value="{{ user_info.phone }}">
				</div>
			</div>
			<div class="item">
				<label>客服电子邮箱：</label>
				<div class="info">
					<input type="text" placeholder="请输入电子邮箱" class="text" name="email" value="{{ user_info.email }}">
				</div>
			</div>
			<div class="item">
				<label>网址：</label>
				<div class="info">
					<input type="text" placeholder="请输入网址" class="text" name="www" value="{{ user_info.www }}">
				</div>
			</div>
			<button type="submit" class="btn">提交</button>
			</form>
		</div>
{% endblock %}

{% block js-body %}
<script type="text/javascript">

    $("#CV").change(function (ele) {
        var target = ele.target;
        var lastInput = ele.srcElement.parentElement.nextElementSibling;
        var html = "" +
        "<div id=\"outCom\">" +
            "<label>境外公司（若有）：</label>" +
            "<div>" +
            "    <label>公司名称</label>" +
            "    <input class=\"user-info-input\" type=\"text\" placeholder=\"请输入公司名称\" name=\"attr_outside_company\" value=\"{{ attr.outside_company }}\"> " +
            "</div>" +
            "<div>" +
            "    <label>公司地址</label>" +
            "    <input class=\"user-info-input\" type=\"text\" placeholder=\"请输入公司地址\" name=\"attr_outside_address\" value=\"{{ attr.outside_address }}\">" +
            "</div>" +
            "<label>境内公司（若有）：</label>" +
            "<div>" +
            "    <label>公司名称</label>" +
            "    <input class=\"user-info-input\" type=\"text\" placeholder=\"请输入公司名称\" name=\"attr_inside_company\" value=\"{{ attr.inside_company }}\">" +
            "</div>" +
            "<div>" +
            "    <label>公司地址</label>" +
            "    <input class=\"user-info-input\" type=\"text\" placeholder=\"请输入公司地址\" name=\"attr_inside_address\" value=\"{{ attr.inside_address }}\"> " +
            "</div>" +
        "</div>"

        $('#outCom').remove();
        $('#inCom').remove();
        $('#lastLabel').after(html);
    });

    $("#PV").change(function (ele) {
        var target = ele.target;
        var html = "" +
        "<div id=\"inCom\">" +
            "<div>" +
            "    <label>姓名</label>" +
            "    <input class=\"user-info-input\" type=\"text\" placeholder=\"请输入姓名\" name=\"attr_user_name\" value=\"{{ attr.user_name }}\"> " +
            "</div>" +
            "<div>" +
            "    <label>地址</label>" +
            "    <input class=\"user-info-input\" type=\"text\" placeholder=\"请输入地址\" name=\"attr_user_address\" value=\"{{ attr.user_address }}\">" +
            "</div>" +
        "</div>";
        $('#outCom').remove();
        $('#inCom').remove();
        $('#lastLabel').after(html);
    });

    function uploadFile() {
        var formData = new FormData();
        formData.append('file', $('#user-upload-img')[0].files[0]);
        console.log(formData)
        $.ajax({
            type:'POST',
            url: '/image_upload',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            success: function(data){
                var url = '/media/' + data.url;
                $("#user-img").attr("src", url);
                var uri = data.url
                $("#user-upload-img1").val(uri);
                console.log(url)
            }
        })
    }

</script>
{% endblock %}