{% extends 'base.html' %}
{% load staticfiles %}

{% block main-menu-man %}
{#    <a href="block?block=man" class="active">达人发布台</a>#}
{% endblock %}

{% block main-big-title %}
{% endblock %}

{% block main-body %}
    <div class="container release-container clearfix">
			<form method="post">
			<div class="item">
				<label>头像：</label>
				<div class="info infoIMG">
					<img src="{% static "images/300x300.jpg" %}"/>
					<div class="btn-upload"><input type="file" name="head_img">
					<span>上传图片</span></div>
				</div>
			</div>
			<div class="item">
				<label>服务详情：</label>
				<div class="info">
					<textarea name="desc" class="textarea" placeholder="请输入描述内容" rows="5"></textarea>
				</div>
			</div>
			<div class="item">
				<label>擅长品类：</label>
                <div class="info other">
                    <input type="text" placeholder="请输入擅长品类" name="goods">
                </div>
			</div>
			<div class="item">
				<label>产品来源：</label>
				<div class="info other">
					<select>
                        {% for item in contries %}
                            <option value="{{ item.value }}">{{ item.value }}</option>
                        {% endfor %}
                    </select>
				</div>
			</div>
			<div class="item">
				<label>会员性质：</label>
				<div class="info">
					<label>
						<input type="radio" name="vipType" id="PV" value="person" checked="checked">
						个人
					</label>
					<label id="lastLabel">
						<input type="radio" name="vipType" id="CV" value="company">
						公司
					</label>
                    <div id="inCom">
                    <div>
                        <label>姓名</label>
                        <input class="user-info-input" type="text" placeholder="请输入姓名" name="">
                    </div>
                    <div>
                        <label>地址</label>
                        <input class="user-info-input" type="text" placeholder="请输入地址" name="">
                        </div>
                    </div>
				</div>
			</div>
			<div class="item">
				<label>服务内容：<em>（多选）</em></label>
				<div class="info">
					<label>
						<input type="checkbox" name="service">
						代购
					</label>
					<label>
						<input type="checkbox" name="service">
						拼单
					</label>
					<label>
						<input type="checkbox" name="service">
						代收转发
					</label>
					<label>
						<input type="checkbox" name="service">
						物流货代
					</label>

				</div>
			</div>
			<div class="item">
				<label>客服微信号：</label>
				<div class="info">
					<input type="text" placeholder="请输入微信号" class="text" name="wx">
				</div>
			</div>
			<div class="item">
				<label>客服QQ号：</label>
				<div class="info">
					<input type="text" placeholder="请输入QQ号" class="text" name="qq">
				</div>
			</div>
			<div class="item">
				<label>客服电话号码：</label>
				<div class="info">
					<input type="text" placeholder="请输入电话号码" class="text" name="phone">
				</div>
			</div>
			<div class="item">
				<label>客服电子邮箱：</label>
				<div class="info">
					<input type="text" placeholder="请输入电子邮箱" class="text" name="email">
				</div>
			</div>
			<div class="item">
				<label>网址：</label>
				<div class="info">
					<input type="text" placeholder="请输入网址" class="text" name="www">
				</div>
			</div>
			<button type="submit" class="btn">提交</button>
			</form>
		</div>
{% endblock %}

{% block js-body %}
<script type="text/javascript">

    $("#CV").change(function (ele) {
        var target = ele.target;
        var lastInput = ele.srcElement.parentElement.nextElementSibling;
        var html = "" +
        "<div id=\"outCom\">" +
            "<label>境外公司（若有）：</label>" +
            "<div>" +
            "    <label>公司名称</label>" +
            "    <input class=\"user-info-input\" type=\"text\" placeholder=\"请输入公司名称\" name=\"\"> " +
            "</div>" +
            "<div>" +
            "    <label>公司地址</label>" +
            "    <input class=\"user-info-input\" type=\"text\" placeholder=\"请输入公司地址\" name=\"\">" +
            "</div>" +
            "<label>境内公司（若有）：</label>" +
            "<div>" +
            "    <label>公司名称</label>" +
            "    <input class=\"user-info-input\" type=\"text\" placeholder=\"请输入公司名称\" name=\"\">" +
            "</div>" +
            "<div>" +
            "    <label>公司地址</label>" +
            "    <input class=\"user-info-input\" type=\"text\" placeholder=\"请输入公司地址\" name=\"\"> " +
            "</div>" +
        "</div>"

        $('#outCom').remove();
        $('#inCom').remove();
        $('#lastLabel').after(html);
    });

    $("#PV").change(function (ele) {
        var target = ele.target;
        var html = "" +
        "<div id=\"inCom\">" +
            "<div>" +
            "    <label>姓名</label>" +
            "    <input class=\"user-info-input\" type=\"text\" placeholder=\"请输入姓名\" name=\"\"> " +
            "</div>" +
            "<div>" +
            "    <label>地址</label>" +
            "    <input class=\"user-info-input\" type=\"text\" placeholder=\"请输入地址\" name=\"\">" +
            "</div>" +
        "</div>";
        $('#outCom').remove();
        $('#inCom').remove();
        $('#lastLabel').after(html);
    });

    function uploadFile() {
        var formData = new FormData();
        formData.append('file', $('#blog-img')[0].files[0]);
        $.ajax({
            type:'POST',
            url: '/image_upload',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            success: function(data){
                pic_ids += data.id + ',';
                var url = '/media/' + data.url;
                var ele = '<img src="' + url + '"/>';
                $("#imgLIst").prepend(ele)
            }
        })
    }

</script>
{% endblock %}