{% extends 'base.html' %}
{% load staticfiles %}

{% block main-big-title %}
{% endblock %}

{% block main-body %}
    <div class="container release-container clearfix">

        <div class="panel-item">
            <div class="panel">
                <div class="col">序号：<span>20180530001</span></div>
            </div>
            <div class="panel">
                <div class="col">起诉方：<span>买方</span></div>
                <div class="col default">被诉方：<span>卖方</span></div>
            </div>
            <div class="panel">
                <div class="col">支持数：<span>36<i class="icon-1"></i></span></div>
                <div class="col default">支持数：<span>42<i class="icon-2"></i></span></div>
            </div>
        </div>

        <div class="item">
            <label>起诉理由（主题）：</label>
            <div class="info">
                卖方出售劣质商品。
            </div>
        </div>
        <div class="item">
            <label>起诉文字内容：</label>
            <div class="info infoText">
                <p>卖方出售劣质商品。严重影响了生活习惯。</p>
                <img src={% static "images/300x300.jpg" %} />
                <img src={% static "images/300x300.jpg" %}/>
                <img src={% static "images/300x300.jpg" %}/>
            </div>
        </div>
        <div class="item">
            <label>卖方答辩：<span>2018.5.5 10:00:20</span></label>
            <div class="info infoText">
                <p>我的商品没有什么问题呀。。。</p>
                <img src={% static "images/300x300.jpg" %}/>
            </div>
        </div>
        <div class="item">
            <label>买方答辩：<span>2018.5.5 10:00:20</span></label>
            <div class="info infoText">
                <p>你的商品本身就有问题，不要狡辩了。</p>

            </div>
        </div>
        <div class="item">
            <label>卖方答辩：<span>2018.5.5 10:00:20</span></label>
            <div class="info infoText">
                <p>我的商品是没有问题的，你放心使用吧。</p>
                <img src={% static "images/300x300.jpg" %}/>
            </div>
        </div>
        <div class="item">
            <label>买方答辩：<span>2018.5.5 10:00:20</span></label>
            <div class="info infoText">
                <p>恩恩，就且相信你一回。</p>

            </div>
        </div>
        <div class="item">
            <label>卖方答辩：</label>
            <div class="info infoText">
                <input class="input" type="text" name="">
            </div>
        </div>
        <div class="item">
            <label>评论1：<span>2018.5.5 10:00:20</span></label>
            <div class="info infoText">
                <p>我的商品是没有问题的，你放心使用吧。</p>
            </div>
        </div>
        <div class="item">
            <label>评论2：<span>2018.5.5 10:00:20</span></label>
            <div class="info infoText">
                <p>我的商品是没有问题的，你放心使用吧。</p>
            </div>
        </div>
        <div class="panel-comment">
            <div class="item">
                <label>评论：</label>
                <div class="info">
                    <textarea class="textarea" placeholder="请输入内容！" rows="5"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn">发布评论</button>
    </div>
{% endblock %}