<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>一甫集代购达人 IF Collections Master Buyer</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<link rel="stylesheet" type="text/css" href="dist/css/main.min.css" />
</head>
<body class="bg-fff">
	<!--header-->
	<div class="header panel-header">
		<div class="container">
			<div class="top-bar clearfix">
				<div class="logo fl">
					<div class="m-btn"></div>
					<a href="index.html"><img src="images/logo-black.png" /></a>
				</div>
				<div class="panel-search">
					<form class="search clearfix">
						<input type="text" class="text fl" placeholder="开始在全世界淘你想淘" name="keywords">
						<input type="submit" class="submit fl" value="搜索" name="submit">
					</form>
				</div>
				<div class="hd-right fr hide">
					<a href="#">达人入驻</a>
					<a href="#">登录</a>
					<a href="#" class="join">加入</a>
				</div>
				<div class="hd-right fr">
					<a href="#" class="user">
						<img src="images/300x300.jpg">
					</a>
				</div>
			</div>
			
		</div>
	</div>
	<div class="nav">
		<div class="container">
			<a href="index.html">首页</a>
			<a href="news.html">海淘那些事</a>
			<a href="man.html">达人发布台</a>
			<a href="want.html">我要我要的</a>
			<a href="reasoning.html">说说谁有理</a>
		</div>
	</div>
	<!--main-->
	<div class="main">
		<div class="container release-container clearfix">

			<div class="panel-item">
				<div class="panel">
					<div class="col">序号：<span>20180530001</span></div>
				</div>
				<div class="panel">
					<div class="col">起诉方：<span>买方</span></div>
					<div class="col default">被诉方：<span>卖方</span></div>	
				</div>
				<div class="panel">
					<div class="col">支持数：<span>36<i class="icon-1"></i></span></div>
					<div class="col default">支持数：<span>42<i class="icon-2"></i></span></div>	
				</div>
			</div>

			<div class="item">
				<label>起诉理由（主题）：</label>
				<div class="info">
					卖方出售劣质商品。
				</div>
			</div>
			<div class="item">
				<label>起诉文字内容：</label>
				<div class="info infoText">
					<p>卖方出售劣质商品。严重影响了生活习惯。</p>
					<img src="../images/300x300.jpg"/>
					<img src="../images/300x300.jpg"/>
					<img src="../images/300x300.jpg"/>
				</div>
			</div>
			<div class="item">
				<label>卖方答辩：<span>2018.5.5 10:00:20</span></label>
				<div class="info infoText">
					<p>我的商品没有什么问题呀。。。</p>
					<img src="../images/300x300.jpg"/>
				</div>
			</div>
			<div class="item">
				<label>买方答辩：<span>2018.5.5 10:00:20</span></label>
				<div class="info infoText">
					<p>你的商品本身就有问题，不要狡辩了。</p>
					
				</div>
			</div>
			<div class="item">
				<label>卖方答辩：<span>2018.5.5 10:00:20</span></label>
				<div class="info infoText">
					<p>我的商品是没有问题的，你放心使用吧。</p>
					<img src="../images/300x300.jpg"/>
				</div>
			</div>
			<div class="item">
				<label>买方答辩：<span>2018.5.5 10:00:20</span></label>
				<div class="info infoText">
					<p>恩恩，就且相信你一回。</p>

				</div>
			</div>
			<div class="item">
				<label>卖方答辩：</label>
				<div class="info infoText">
					<input class="input" type="text" name="">
				</div>
			</div>
			<div class="item">
				<label>评论1：<span>2018.5.5 10:00:20</span></label>
				<div class="info infoText">
					<p>我的商品是没有问题的，你放心使用吧。</p>
				</div>
			</div>
			<div class="item">
				<label>评论2：<span>2018.5.5 10:00:20</span></label>
				<div class="info infoText">
					<p>我的商品是没有问题的，你放心使用吧。</p>
				</div>
			</div>
			<div class="panel-comment">
				<div class="item">
					<label>评论：</label>
					<div class="info">
						<textarea class="textarea" placeholder="请输入内容！" rows="5"></textarea>
					</div>
				</div>
			</div>
			<button type="submit" class="btn">发布评论</button>
		</div>
	</div>
		
	<!--footer-->
	<div class="footer">
		<div class="container">
			版权所有&copy;2018 一甫集代购达人
		</div>
	</div>
	<div class="m-mask"></div>
	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>	
	<script type="text/javascript" src="js/main.js"></script>	
</body>
</html>