{% extends 'base.html' %}
{% load staticfiles %}

{% block main-menu-theory %}
    <a href="theory" class="active">说说谁有理</a>
{% endblock %}

{% block main-big-title %}
    <div class="cont-text">
        <h1>群众的眼睛是雪亮的。发起你的说理，无良卖家，奇葩买家都将无所遁形。</h1>
    </div>
{% endblock %}


{% block main-body %}
    <div class="container release-container clearfix">

        <div class="panel-item">
            <div class="panel">
                <div class="col">起诉方：<span>买方</span></div>
                <div class="col default">被诉方：<span>卖方</span></div>
            </div>
            <div class="panel">
                <div class="col">账户名：<span>张三</span></div>
                <div class="col default">账户名：<span>李四</span></div>
            </div>
        </div>

        <div class="item">
            <label>起诉理由（主题）：</label>
            <div class="info">
                <input type="text" placeholder="请输入主题" class="text" name="pro">
            </div>
        </div>
        <div class="item">
            <label>起诉文字内容：</label>
            <div class="info">
                <textarea class="textarea" placeholder="请输入描述内容" rows="5"></textarea>
            </div>
        </div>
        <div class="item">
            <label>起诉截图佐证：</label>
            <div class="info infoIMG imgList">
                <img src="{% static "images/300x300.jpg" %}">
                <div class="btn-upload"><input type="file" name="">
                <span>上传图片</span></div>
            </div>
        </div>
        <!--<button type="submit" class="btn">发起</button>-->

        <a href="theory-info.html" type="submit" class="btn">发起</a>
    </div>
{% endblock %}