{% extends 'base.html' %}
{% load staticfiles %}

{% block main-big-title %}
    <div class="cont-text">
        <h1>群众的眼睛是雪亮的。发起你的说理，无良卖家，奇葩买家都将无所遁形。</h1>
    </div>
{% endblock %}


{% block main-body %}
    <div class="container release-container clearfix">

{#        <form method="post", action="/blogs/theory">#}
            <div class="panel-item">
                <div class="panel">
                    <div class="col">起诉方：<span>{{ data.prosecute }}</span></div>
                    <div class="col default">被诉方：<span>{{ data.respondent }}</span></div>
                </div>
                <div class="panel">
                    <div class="col">账户名：<span>{{ data.prosecute_user }}</span></div>
                    <div class="col default">账户名：<span>{{ data.respondent_user }}</span></div>
                </div>
            </div>


            <div class="item">
                <input type="text", name="data" value="{{ data }}" hidden="true">
                <label>起诉理由（主题）：</label>
                <div class="info">
                    <input type="text" placeholder="请输入主题" class="text" name="title">
                </div>
            </div>
            <div class="item">
                <label>起诉文字内容：</label>
                <div class="info">
                    <textarea class="textarea" placeholder="请输入描述内容" name="content" rows="5"></textarea>
                </div>
            </div>
            <div class="item">
                <label>起诉截图佐证：</label>
                <div class="info infoIMG imgList" id="imgLIst">

                    <div class="btn-upload">
                        <input type="file" id="theory-file"  name="file" onchange="uploadFile()">
                        <span>上传图片</span>
                    </div>
                </div>
            </div>
            <button onclick="submitTheory()" class="btn">发起</button>
{#            <a type="submit" class="btn">发起</a>#}
{#        </form>#}
    </div>
{% endblock %}

{% block js-body %}
<script type="text/javascript">
    var pic_ids = '';
    var data = {{ content | safe}};
    function submitTheory(){
        var params = {
            trade_id: data.trade_id,
            initiator: data.initiator,
            title: document.getElementsByName('title')[0].value,
            content: document.getElementsByName('content')[0].value,
            pids: pic_ids
        };
        $.ajax({
            type:'POST',
            url: '/blogs/theory',
            data: params,
            success: function(){
                location.reload();
            }
        })
    };

    function uploadFile() {
        var formData = new FormData();
        formData.append('file', $('#theory-file')[0].files[0]);
        $.ajax({
            type:'POST',
            url: '/image_upload',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            success: function(data){
                pic_ids += data.id + ',';
                var url = '/media/' + data.url;
                var ele = '<img src="' + url + '"/>';
                $("#imgLIst").prepend(ele)
            }
        })
    }

</script>
{% endblock %}
